@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap");
$font-text: "Raleway", sans-serif;
$font-header: "Raleway", sans-serif;
$color-main: #00b894;
$color-background: #f0f3f3;
$color-text: #444444;
$transition: all 0.1s;
* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body,
html {
  color: #444444;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: "Raleway";
}

a,
a:hover {
  text-decoration: none;
  color: #00b894;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url("https://i.postimg.cc/fRxHfmGS/pexels-agung-pandit-wiguna-10743916.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 45%;
  height: 400px;
  margin: 30px;
}
.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: 600;
  font-size: 46px;
  color: #00b894;
  font-family: "Raleway";
}

.main-subtitle {
  margin: 12px 0 60px 0;
  font-weight: 600;
  font-size: 30px;
  color: #00b894;
  font-family: "Raleway";
}
.btn {
  padding: 15px 20px 15px 20px;
  font-size: 16px;
  background-color: #b2bec3;
  color: #ffffff;
  box-shadow: 2px 4px 10px #fdcb6e;
  transition: all 0.1s;
}

.btn:hover {
  background-color: lighten(#b2bec3, 10%);
  color: #ffffff;
  box-shadow: 2px 4px 10px #e17055;
}
.section-title {
  position: relative;
  margin: 0 0 30px 0;
  text-align: center;
}
.section-title:after {
  position: absolute;
  display: block;
  content: "";
  width: 300px;
  height: 6px;
  background: #00b894;
  left: 50%;
  bottom: -12px;
  margin-left: -150px;
}
.about {
  background: #dfe6e9;
  margin: 36px 0 0 0;
}
.about p{
  text-align: center;
}
.features-wrapper {
  display: flex;
}
.feature {
  flex: 20 0 20;
  max-width: 100%;
  text-align: center;
  margin: 24px 0 0 0;
}
.feature i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #00b894;
  font-size: 50px;
}
.feature-title {
  margin: 24px 0 0 0;
}
.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}
.statement {
  background-image: url("https://i.postimg.cc/Y01NTXZw/pexels-allec-gomes-5181277.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 300px;
  background-attachment: fixed;
}
.statement p {
  .margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fdcb6e;
  text-align: center;
}
.section.gallery {
  padding: 60px 0 0 0;
}
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 72px 0 0 0;
}
.gallery-item {
  position: relative;
  margin: 0;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item:before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lighten(#ffeaa7, 10%);
  opacity: 0.5;
}
.gallery-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.gallery-item:hover:before, .gallery-item:hover figcaption {
  display: block;
}
.contact {
  text-align: center;
  transition: all 0.1s;
}
.social links {
  list-style-type: none;
  padding: 0;
  transition: all 0.1s;
}
.social-links li {
  display: inline-block;
  border: 1px solid #00b894;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.1s;
}
.social-links li:hover {
  background: #00b894;
}
.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
}
.social-links li a:hover {
  color: #ffffff;
}

.page-footer {
  background: darken(#f0f3f3, 3%);
  padding: 12px 0;
  font-size: 12px;
  color: #000000;
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
}
.page-footer p {
  margin: 0;
}
.navigation {
    background: #dfe6e9;
  padding: 12px 0;
  text-align: center;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation ul li{
  display: inline-block;
  margin-right: 40px;
}
.navigation ul li a{
   color: #000000;
  font-weight: 300;
}
.navigation ul li a:hover {
    color: #e17055;
  font-weight: 800;
}
.quote{
  width: 100%; 
  padding: 0 72px;
}
.flickity-page-dots .dot{
}
@media (max-width: 767px) {
.features-wrapper{
    display: block;
}
.feature{ 
  flex: 0 0 100%; 
  max-width: 100%;
}
  .gallery-item{
    flex: 0 0 50%; 
    max-width: 50%;
}
}
